<div class="setRow">
  <div class="item">
    <div [ngClass]="multipleClassesOne"><label>Name:&nbsp;</label></div>
  </div>
  <div class="item">
    <div [ngClass]="multipleClassesTwo"><label>Age:&nbsp;</label></div>
  </div>
  <div class="item">
    <div [ngClass]="multipleClassesThree"><label>Archetype:&nbsp;</label></div>
  </div>
</div>
<div class="setRowTwo">
  <div class="itemTwo">
    <div class="setAlignment">
      <p>{{ person.name }}</p>
    </div>
  </div>
  <div class="itemTwo">
    <div class="setAlignment">
      <p>{{ person.age }}</p>
    </div>
  </div>
  <div class="itemTwo">
    <div class="setAlignment">
      <p>{{ person.archetype }}</p>
    </div>
  </div>
</div>
<br />
<br />
<div [style.position]="position" [style.left.vw]="left">
  <label
    [style]="'color: blue; text-decoration: underline; cursor: pointer'"
    (click)="showStrengths = !showStrengths"
    >Strengths</label
  >
  <ng-container *ngIf="showStrengths">
    <br />
    <br />
    <ng-template ngFor let-strength [ngForOf]="person.strengths" let-i="index">
      <div>{{ i + 1 }} - {{ strength }}</div>
    </ng-template>
  </ng-container>
</div>
<br />
<br />
